<div class="container">

  <%= form_with(url: search_programming_language_path, method: :get, data: { turbo_frame: "programming_language" }) do |form| %>
    <div class="input-group my-3">
      <%= form.text_field :query, class: "form-control", placeholder: "Search" %>
      <button class="btn btn-success" type="submit">Go</button>
    </div>
  <% end %>

  <h1 class="my-3">List of Programming Languages</h1>

  <%= turbo_frame_tag "programming_language" do %>
    <%= render partial: "programming_language/table", locals: { programming_language: @programming_language } %>
  <% end %>
</div>
